.social {
  @include flex-position;

  &__link {
    @include flex-position;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    padding: 12px;
    fill: getColor("tertiary");
    transition-property: fill, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:is(:hover, :focus) {
      fill: getColor("bright");
      background-color: getColor("secondary");
    }
  }
}
