.contact {
  @include font($fw: 400, $fs: 14px, $lh: 1.7);
  gap: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;

  &--isHide {
    display: none;
    @include desktop {
      display: flex;
    }

    @include tablet {
      display: block;
      margin-left: 101px;
    }
  }

  &__link {
    color: getColor("grey");
    display: flex;
    align-items: center;
    column-gap: 10px;
    fill: getColor("grey");
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:is(:hover, :focus) {
      color: getColor("secondary");
      fill: getColor("secondary");
    }
  }
}
