.logo {
  @include font($fw: 700, $fs: 26px, $lh: 1.17);
  font-family: getFont("ral");
  color: getColor("secondary");
  // width: 134px;

  @include tablet {
    margin-right: 83px;
  }

  @include desktop {
    margin-right: 93px;
  }

  &__header {
    margin-left: 15px;
    @include tablet {
      margin-right: 0px;
    }
    @include desktop {
      margin-right: 0px;
    }
  }

  &--dark {
    color: getColor("primary");
  }
  &--bright {
    color: getColor("bright");
  }

  &--footer {
    margin-right: 0;
    @include tablet {
      margin-right: 0px;
    }
    @include desktop {
      margin-right: 0px;
    }
  }
}
