.logo {
  @include font($fw: 700, $fs: 26px, $lh: 1.17);
  font-family: getFont("ral");
  color: getColor("secondary");

  @include tablet {
    margin-right: 83px;
  }

  @include desktop {
    margin-right: 93px;
  }

  &__header {
    margin-left: 15px;
  }

  &--dark {
    color: getColor("primary");
  }
  &--bright {
    color: getColor("bright");
  }

  &--footer {
    margin-right: 0;
  }

  &--position {
    display: flex;
    justify-content: center;

    @include desktop {
      margin-left: 0;
    }
  }
}
